/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* start editing from here */
a {
	text-decoration: none;
}

.txt-rt {
	text-align: right;
} /* text align right */
.txt-lt {
	text-align: left;
} /* text align left */
.txt-center {
	text-align: center;
} /* text align center */
.float-rt {
	float: right;
} /* float right */
.float-lt {
	float: left;
} /* float left */
.clear {
	clear: both;
} /* clear float */
.pos-relative {
	position: relative;
} /* Position Relative */
.pos-absolute {
	position: absolute;
} /* Position Absolute */
.vertical-base {
	vertical-align: baseline;
} /* vertical align baseline */
.vertical-top {
	vertical-align: top;
} /* vertical align top */
nav.vertical ul li {
	display: block;
} /* vertical menu */
nav.horizontal ul li {
	display: inline-block;
} /* horizontal menu */
img {
	max-width: 100%;
}
/*end reset*/
/****-----start-body----****/

html { 
  background: url(../images/gb_hus.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
	margin: 7em auto 0;
	width: 44%;
}

.main h2, .main h3 {
	font-size: 1em;
	text-align: center;
	color: #fff;
	padding: 1em 0;
	font-family: 'Oxygen', sans-serif;
}

.main h3 {
	font-size: 1em;
	text-align: left;
	font-family: 'Oxygen', sans-serif;
}

ul.facebook {
	list-style: none;
	padding: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background: #3B5998;
	padding: 12px;
}

i.fb {
	width: 30px;
	height: 30px;
	background: url(../images/fb.png);
	float: left;
	margin-right: 2em;
}

ul.facebook li {
	color: #fff;
	font-size: 1em;
	float: left;
	margin-top: 5px;
}

ul.facebook:hover {
	background: #5D7BBA;
}

ul.twitter {
	list-style: none;
	padding: 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	background: #55ACEE;
	padding: 12px;
}

i.tw {
	width: 30px;
	height: 30px;
	background: url(../images/tw.png);
	float: left;
	margin-right: 2em;
}

ul.twitter li {
	color: #fff;
	font-size: 1em;
	float: left;
	margin-top: 5px;
}

ul.twitter:hover {
	background: #71B8ED;
}

span.term a {
	color: #1888A8;
	font-weight: bold;
}

span.term a:hover {
	color: #fff;
}

.lable input[type="text"] {
	padding: 15px;
	font-size: 1.1em;
	margin: 18px 0px;
	color: #666666;
	width: 87%;
	cursor: pointer;
	font-family: 'Oxygen', sans-serif;
	outline: none;
	font-weight: 600;
	margin-left: 3px;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.lable input[type="email"] {
	padding: 15px;
	font-size: 1.1em;
	margin: 18px 0px;
	color: #666666;
	width: 87%;
	cursor: pointer;
	font-family: 'Oxygen', sans-serif;
	outline: none;
	font-weight: 600;
	margin-left: 3px;
	background: #FFFFFF;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.lable input[type="text"]:hover, .lable-2 input[type="text"]:hover,
	input[type="Password"]:hover, #active {
	color: #DCDCDC;
	border-left: 6px solid #40A46F;
}

.lable input[type="email"]:hover, .lable-2 input[type="email"]:hover,
	input[type="Password"]:hover, #active {
	color: #DCDCDC;
	border-left: 6px solid #40A46F;
}

.lable-2 input[type="text"], input[type="Password"] {
	padding: 14px;
	width: 94%;
	font-size: 1em;
	margin: 18px 0px;
	border: none;
	color: #666666;
	cursor: pointer;
	background: none;
	float: left;
	outline: none;
	font-weight: 700;
	font-family: 'Oxygen', sans-serif;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}

.lable-2 input[type="email"], input[type="Password"] {
	padding: 14px;
	width: 94%;
	font-size: 1em;
	margin: 18px 0px;
	border: none;
	color: #666666;
	cursor: pointer;
	background: none;
	float: left;
	outline: none;
	font-weight: 700;
	font-family: 'Oxygen', sans-serif;
	background: #ffffff;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	border-left: 6px solid #fff;
	border-bottom: none;
	border-right: none;
	border-top: none;
}


.submit {
	padding: 5px 4px;
	text-align: center;
}

input[type=submit] {
	padding: 17px 30px;
	color: #fff;
	float: right;
	font-family: 'Oxygen', sans-serif;
	background: #40A46F;
	border: 1px solid #40A46F;
	cursor: pointer;
	font-size: 18px;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	outline: none;
	width: 100%;
	-webkit-appearance: none;
}

.submit input[type=submit]:hover {
	background: #07793D;
	border: 1px solid #07793D;
}
/**start-copy-right**/
.copy-right {
	text-align: center;
	margin: 2em 0;
}

.copy-right p {
	color: #FFF;
	font-size: 1em;
}

.copy-right p a {
	font-family: 'Oxygen', sans-serif;
	font-size: 1em;
	font-weight: 600;
	color: #55ACEE;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.copy-right a:hover {
	color: #fff;
}

.col_1_of_2:first-child {
	margin-left: 0;
}

.span_1_of_2 {
	width: 49.7%;
}

.col_1_of_2 {
	display: block;
	float: left;
	margin: 0 0 0 0.6%;
}

.col_1_of_f:first-child {
	margin-left: 0;
}

.span_1_of_f {
	width: 49.7%;
}

.col_1_of_f {
	display: block;
	float: left;
	margin: 0 0 0 0;
}
/*----start-responsive design-----*/
@media ( max-width :1024px) {
	.col_1_of_2 {
		margin: 0 0 0 3.6%;
	}
	.span_1_of_2 {
		width: 47.7%;
	}
	.span_1_of_f {
		width: 50%;
	}
	i.fb, i.tw {
		margin-right: 1em;
	}
	.main {
		width: 50%;
	}
}

@media ( max-width :800px) {
	.span_1_of_f {
		width: 100%;
	}
	.col_1_of_f {
		float: none;
	}
	.span_1_of_2 {
		width: 100%;
	}
	.col_1_of_2 {
		margin: 0;
	}
	.lable-2 input[type="text"], input[type="Password"] {
		padding: 14px;
		width: 89%;
	}
	
	.lable-2 input[type="email"], input[type="Password"] {
		padding: 14px;
		width: 89%;
	}
}

@media ( max-width :480px) {
	.main {
		margin: 7em auto 0;
		width: 70%;
	}
}

@media ( max-width :320px) {
	.main {
		width: 80%;
	}
	.lable input[type="text"] {
		width: 83%;
	}
	.lable-2 input[type="text"], input[type="Password"] {
		width: 84%;
	}
	.lable input[type="email"] {
		width: 83%;
	}
	.lable-2 input[type="email"], input[type="Password"] {
		width: 84%;
	}
}